:root {
  --battlefield-color: #ffb000;
  --second-battlefield-color: #25b79f;
}

@media screen {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .battlefield {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
  .battlefield-container {
    width: auto;
    border: 10px solid var(--battlefield-color);
    display: grid;
    width: 100%;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(10, 10%);
  }
  .battlefield-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(60, 60, 60, 0.3);
  }
  .battlefield-cell:hover {
    background-color: rgba(60, 60, 60, 0.3);
  }
  .battlefield-cell--hit {
    background-image: url("./assets/Hit.png");
    background-size: 100%;
  }
  .battlefield-cell--miss {
    background-image: url("./assets/Miss.png");
    background-size: 100%;
  }
  .battlefield-cell--miss:hover,
  .battlefield-cell--hit:hover {
    background-color: none;
  }
  .counter {
    display: flex;
    flex-direction: row;
  }
  .counter-player {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .counter-player:nth-child(1) {
    background-color: var(--battlefield-color);
  }
  .counter-player:nth-child(2) {
    background-color: var(--second-battlefield-color);
  }
  .counter-player__number {
    padding: 8px 0;
    font-size: x-large;
    font-weight: bold;
  }
  .counter-player__divider {
    width: 50%;
    border-top: 1px solid rgba(60, 60, 60, 0.3);
  }
  .counter-player__name {
    padding: 8px 0;
  }
  .shiplist {
    margin: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(auto, 3);
  }
  .shiplist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .shiplist-item__image {
    width: 60px;
    height: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .shiplist-item__counter {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid rgba(60, 60, 60, 0.3);
    margin: 4px;
  }
  .carrier {
    background-image: url("./assets/AircraftShape.png");
  }
  .battleship {
    background-image: url("./assets/BattleshipShape.png");
  }
  .destroyer {
    background-image: url("./assets/CarrierShape.png");
  }
  .cruiser {
    background-image: url("./assets/CruiserShape.png");
  }
  .submarine {
    background-image: url("./assets/SubmarineShape.png");
  }
}

@media screen and (min-width: 768px) {
  .app {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 40% 60%;
    grid-gap: 16px;
    width: 90vw;
    height: calc(0.6 * 90vw - 16px);
    margin: 16px auto 0;
  }
  .counter {
    grid-column: 1;
    grid-row: 1;
  }
  .shiplist {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .battlefield {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;
    width: calc(0.6 * 90vw - 16px);
    height: calc(0.6 * 90vw - 16px);
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .app {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 40% 60%;
    grid-gap: 16px;
    width: 90vw;
    margin: 16px auto 0;
  }
  .battlefield {
    width: 90vw;
    height: 90vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }
  .counter {
    grid-column: 1;
    grid-row: 2;
  }
  .shiplist {
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: 480px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .battlefield {
    width: 100vw;
    height: 100vw;
    order: 1;
  }
  .counter {
    order: 2;
  }
  .shiplist {
    order: 3;
  }
  .shiplist-item__image {
    width: 36px;
    height: 16px;
  }
}

